@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); 
 *{
	 margin: 0;
	padding: 0;
	box-sizing: border-box;
 }
 .position{
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
 }
 h1,h2,h3,h4,h5,h6{
	font-family: "Oswald", sans-serif;
 }
 p{
	font-family: "Roboto", sans-serif;
 }
 a{
	all: unset;
 }
 header{
	width: 100%;
    position: relative;
 }
 nav{
    width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	background: linear-gradient(#000000b6, #ffffff00);
 }
 .container{
	width: 80%;
	width: 1140px;
	margin: 0 auto; 
 }
 .nav-container{
	display: grid;
	grid-template-columns:2fr 4fr 1fr;
	align-items: center;
	padding: 10px 0;
	position: relative;
	
 }
 .nav-container .nav-contact a{
	color: white;
	padding-right: 30px;
	font-family: "Open Sans", sans-serif;
	display: block;
 }

 /*  Mobile menu style here  */
 #toggle-icon{
    display: none;
}
.nav-contact, .menubar{
	text-align: right;
	margin-right: 10px;
 }
 .menu {
	position: absolute;
	right: -120px;
	top: 120px;
    list-style-type: none;
    overflow: hidden;
    transition: all 0.4s ease;
    justify-content: space-around;
    align-items: center;
	width: 300px;
	max-height: 0;
	background-color: rgb(128, 128, 128);
}
 .nav-container .menubar li{
	border-bottom: 1px solid rgba(0, 0, 0, 0.13);
	text-align: center;
	width: 100%;
	transition: all 0.3s ease-in-out;
 }
 .menu li a{
    text-decoration: none;
    font-size: 20px;
    padding: 10px 0;
    display: block;
	color: #fff;
}
.menu li:hover{
	background-color: #b31e22;
}
 .nav-container .menu-icon {
    position: relative;
    width: 30px;
    height: 24px;
    cursor: pointer;
    display: inline-block;
    z-index: 10;
	margin-right: 10px;
}
.nav-container span{
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #fff;
	transition: all 0.4s ease-in-out;
}
 span:nth-child(1){
    top: 0;   
}
 span:nth-child(2){
    top: 10px;
}
 span:nth-child(3){
    top: 20px;
}
#toggle-icon:checked + .menu-icon span:nth-child(1){
    transform: rotate(45deg);
    top: 10px;
	background-color: #b31e22;
}
 #toggle-icon:checked + .menu-icon span:nth-child(2){
    opacity: 0;
}
#toggle-icon:checked + .menu-icon span:nth-child(3){
    transform: rotate(-45deg);
    top: 10px;
	background-color: #b31e22;
}
#toggle-icon:checked + .menu-icon +  .menu{
    display: block;
	max-height: 350px;
}
#toggle-icon:checked + .menu-icon +  .menu li{
	min-height: 20px;
}
  /* Bannar section style here  */
  .bannar{
	width: 100%;
 }
.bannar-image{
	position: relative;
}
.bannar img{
	width: 100%;
	height: 60vh;
	object-fit: cover; 
 }
.bannar-caption{
	position: absolute;
	width: 815px;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center; z-index: 20;
	
}
.bannar-caption-text{
	text-align: center;
	padding: 15px;
}
.bannar-caption-text h1{
	font-size: 30px;
	font-weight: 600;
	color: rgb(255, 255, 255);
    text-transform: uppercase;
	
}
.bannar-caption-text p{
	font-size: 14px;
    font-weight: 500;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	padding-top: 20px;
}
.owl-nav{
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
.owl-nav span{
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 70px;
	padding: 10px;
	color: white;
}
.owl-next{
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	background-color: #b31e22 !important;
	height: 80px;
	width: 30px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.owl-prev{
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	background-color: #b31e22 !important;
	height: 80px;
	width: 30px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
/* Recent-article section style here  */
.article-section{
	margin: 50px 0 100px 0;
	width: 100%;
}
.article-section img{
	width: 100%;
}
.article-section .row{
	display: grid;
	gap: 50px;
	grid-template-columns: 2fr 1fr;
}
.article-section .recent-article-content{
	width: 100%;
}
.article-section .recent-article-content h2{
	font-size: 25px;
	font-weight: 500;
	padding: 15px 0;
}
.article-section .recent-article-image{
	margin-bottom: 30px;
}
.article-section .recent-article-text{
	overflow: hidden;
}
.article-section .recent-article-text h2{
	position: relative;
}
.article-section .recent-article-text h2::after{
	content: "";
	height: 0.5px;
	width: 100%;
	background-color: #4646465b;
	position: absolute;
	left: 230px;
	top: 50%;
	transform: translateY(-50%);
}
.article-section #item2 h2::after{
	left: 310px;
}
.article-section #item3 h2::after{
	left: 330px;
}
.article-section #item4 h2::after{
	left: 255px;
}
.article-section #item5 h2::after{
	left: 260px;
}
.article-section #item6 h2::after{
	left: 275px;
}
.article-section #item7 h2::after{
	left: 300px;
}
.article-section #item8 h2::after{
	left: 220px;
}
.article-section #item9 h2::after{
	left: 200px;
}
.article-section #item10 h2::after{
	left: 115px;
}
.article-section #item11 h2::after{
	left: 175px;
}
.article-section .recent-article-text .admin{
	font-size: 15px;
	font-weight: 300;
	padding: 20px 0;

}
.article-section .recent-article-text .admin span{
	font-weight: 500;
	color: #b31e22;
}
.article-section .recent-article-text p{
	font-size: 15px;
	font-weight: 300;
	line-height: 26px;
	padding-bottom: 20px;
}
.article-section .recent-article-text .button{
	display: flex;
	justify-content: end;
}
.article-section .recent-article-text a{
	font-size: 14px;
	font-weight: 500;
	font-family: "Roboto", sans-serif;
	color: #fff;
	background-color: #b31e22;
	padding: 10px 15px;
	display: inline-block;
	text-align: end;
}
.article-section .recent-article-catagori{
	width: 100%;
	height: 500px;
	border: 1px solid #7575753c;
	border-radius: 5px;
	padding: 0 0 30px 20px;
}
.article-section .recent-article-catagori h2{
	font-size: 25px;
	font-weight: 500;
	padding: 25px 0 20px 0;
}
.article-section .recent-article-catagori ul{
	list-style-type: square;
	color: #b31e22;
	padding-left: 15px;
}
.article-section .recent-article-catagori li{
	font-size: 15px;
	font-weight: 300;
	line-height: 36px;
	
}
.article-section .recent-article-catagori a{
	font-size: 15px;
	color: #000;
}
/* Subscribe section style here  */
.subscribe-section{
	background-color: #1a1a1a;
	padding: 50px 0;
}
.subscribe-section .subscribe-container{
	max-width: 70%;
	margin: 0 auto;
	text-align: center;
	align-items: center;
}
.subscribe-section label{
	font-size: 20px;
	font-weight: 500;
	font-family: "Oswald", sans-serif;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
}
input[type=text],input[type=email]{
	width: 250px;
	height: 35px;
	border: transparent;
	margin: 0 10px;
}
input[type=submit]{
	font-size: 14px;
	font-weight: 500;
	background-color: #b31e22;
	color: rgb(255, 255, 255);
	padding: 10px 20px;
	border: none;
	margin-left: 10px;
}
.subscribe-container ::placeholder{
	padding-left: 15px;
}
/* Footer section style here  */
.footer-section{
	margin-top: 50px;
}

.footer-section .top-footer{
	text-align: center;
}
.footer-section .top-logo{
	padding-bottom: 15px;
}
.top-footer hr{
	width: 180px;
	display: inline-block;
	border-bottom: 1px solid;
	/* margin-bottom: 10px; */
}
.footer-section .icon >p{
	font-size: 16px;
	padding: 15px 0;
	font-weight: 400;
	color: #464646;

}
.footer-section .icon a{
	padding: 15px ;
	display: inline-block;
	border: 2px solid #757575;
	border-radius: 50%;
	margin: 20px;	
	color: #464646;

}
.footer-caption{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	align-items: center;
	margin-top: 10px;
}
.footer-caption p{
	font-size: 16px;
	font-weight: 300;
	padding: 0 30px;
	text-align: left;
	line-height: 24px;
	color: #464646;
}
.footer-caption .bottom-contact ul li{
	list-style-type: none;
	padding: 5px;
}
.footer-caption .bottom-contact a{
	display: inline-block;
	text-align: left;
}
.footer-caption ul{
	display: inline-block;
	margin: 0 50px;
	text-align: left;
}
.bottom-menu ul li{
	padding: 2px;
}
.footer-section .bottom-footer{
	background-color: #b31e22;
	padding: 20px 0;
	margin-top: 50px;
}
.footer-section .bottom-footer p{
	font-size: 17px;
	text-align: center;
	color: rgb(255, 255, 255);
}
